[2016-01-08 08:31] katamaritaco opened #2 "Make a nice readme"
Make a nice readme

[2016-01-18 03:42] LOZORD opened #5 "Add favicon"
We shouldn't have the default Yeoman favicon for our website.

[2016-01-18 04:19] LOZORD commented on #2
@mjneil How do I serve the website locally?

[2016-01-18 04:23] LOZORD commented on #5
https://umark.wisc.edu/brand/templates-and-downloads/web-logos.php

https://umark.wisc.edu/brand/templates-and-downloads/downloads/web/uwcrest_web_sm.png

How do people feel about these?

[2016-01-18 04:31] katamaritaco commented on #5
LGTM

[2016-01-18 04:41] LOZORD opened #6 "Add support for mobile (?)"
Is this something we want to do?

There are several ways we could go about doing this, since the logic of the site doesn't need to change.

[2016-01-18 04:44] LOZORD opened #7 "Add styling to Hours page"
Needs:
- borders
- centering of cell text
- zebra striping
- padding on the bottom

[2016-01-18 04:47] LOZORD opened #8 "Add styling to Events page"
Needs:
- centering/better alignment
- better styling/separation of information
- defaults to no picture (i.e. no picture shown if absent)
- add link attribute to events (maybe `description` could do this)

[2016-01-18 04:54] LOZORD opened #9 "Add The WebCam™"
Very necessary!

[2016-01-18 05:02] LOZORD commented on #5
Actually, what do you think about using the new `wisc.edu` favicon?

http://www.google.com/s2/favicons?domain=www.wisc.edu

[2016-01-18 21:33] Ricky54326 opened #10 "Just removed email addresses (and mailto links for bart + upl-coords) to try to stop the spam. Keep it this way?"
I use http://www.google.com/recaptcha/mailhide/apikey on my own webpage for all the email addresses, might be worth adding in? Wouldn't take too long (I could probably do it).

Just want peoples' thoughts for now.

[2016-01-18 21:42] Ricky54326 commented on #10
See #11  - I just did this. Someone should approve it after review, then close this issue. @mjneil @LOZORD  or whoever appropriate.

[2016-01-18 21:43] #10 closed

[2016-01-21 18:57] mjneil commented on #6
So I have been writing the css to be a responsive layout so it works on mobile. You can even see this by resizing your browser, however I just noticed going to the site on my phone, it is not being responsive. Not sure why

[2016-01-21 19:27] mjneil commented on #6
This should be fixed now

[2016-01-21 19:27] #6 closed

[2016-01-21 21:30] mjneil commented on #7
I'm going to close this issue for now as I added these styles. If anyone thinks the page needs more styling they can re open this.

[2016-01-21 21:30] #7 closed

[2016-01-21 21:30] mjneil commented on #2
Each folder within the content/ directory also needs readmes

[2016-01-21 22:35] mjneil commented on #2
Accidently closed this, didn't mean to.

@LOZORD to run locally, just make sure you have python installed. then go to the local directory the site is on your terminal and run

`python -m SimpleHTTPServer 8080`

[2016-01-22 17:28] #5 closed

[2016-01-22 17:44] LOZORD opened #14 "Pull GitHub profile picture?"
If a coord doesn't provide a photo, would we want to pull their GitHub profile picture? This is just proverbial icing on the :cake: .

[2016-01-22 17:56] LOZORD opened #15 "Event.location not being used"
Any reason for this not being used in the view code?

[2016-01-22 17:59] LOZORD opened #16 "Allow HTML or Markdown inside Event descriptions"
I could see this being very useful in the future.

Might just need to use `ng-bind` or something along the lines of [this answer](http://stackoverflow.com/questions/9381926/angularjs-insert-html-into-view).

[2016-01-22 18:06] LOZORD opened #17 "Link coord names on Hours page to anchors in Coords page"

[2016-01-22 18:36] LOZORD commented on #6
Looks pretty noice :+1:

[2016-01-22 19:24] katamaritaco commented on #14
Should pull Gravatar instead if anything if possible

[2016-01-22 19:42] mjneil commented on #16
Its a little more complicated but easily doable. Although I'm not sure I 100% agree with the usefulness. I think its important we keep with consistency on design and a standard for event content

[2016-01-22 19:43] mjneil commented on #15
Because I commit and push incrementally so anything events related is completely unfinished..

[2016-01-22 19:45] katamaritaco commented on #15
S A V A G E
:gun: :bomb:

[2016-01-22 19:59] LOZORD commented on #16
What if we want to link to an FB event or a repo?

[2016-01-22 20:02] mjneil commented on #16
Makes sense. I was thinking more like you wanted people adding divs and layout markup which could just become messy so I'd want that type of markup avoided, but I see what you mean

[2016-01-22 20:04] mjneil commented on #2
Reopening as the readme will need more info such as

How to use sass to compile the CSS for the site
More I can't think of atm

[2016-01-22 20:09] melutzke commented on #2
A package file that allows you to do
npm install
npm build (for generating new CSS files)
and
npm start
Would be super coolio

[2016-01-22 21:02] mjneil commented on #9
Referring to the Access-Control-Allow-Origin issue pointed out by @zthomae, I think it would be a good idea if we could possibly find another location for the webcam that has a better complete view of the lab. We have to turn off the moving of the cam half the time anyway because people go onto the site and just whip it back and forth. The webcam isn't Willow Smith

[2016-01-22 21:52] LOZORD commented on #9
niceme.me :+1:

Maybe raise funds for multiple cameras? Although wiring them up would be a nightmare...

[2016-01-22 22:05] katamaritaco commented on #9
Personally, I don't think that whipping the camera back and forth has ever been a problem besides "WOW!!! >:[ These ANIMALS are ABUSING the CAM!!!!".

If it is such a problem, just make the camera turn slower, so that it doesn't really do anything. Make a timer so you can only move it so much in a period. Many solutions rather than moving it, but :yolo: :100: :shit: :shit:

[2016-01-22 22:06] katamaritaco commented on #16
Can we allow only emoji support within these specific HTMLs?

[2016-01-22 22:18] melutzke commented on #9
The webcam code is in a repo and it should be easy(tm) to slow its roll.

[2016-01-22 23:22] LOZORD commented on #16
Just added the ability to use HTML in descriptions. Do people want Markdown as well?

https://github.com/btford/angular-markdown-directive

[2016-01-23 23:36] LOZORD commented on #2
Would this be a good use for [webpack](https://webpack.github.io/)?

[2016-01-23 23:48] LOZORD commented on #14
We can pull the photo by using the following JSON (my profile for example):
https://api.github.com/users/lozord

[2016-01-24 00:32] katamaritaco commented on #16
I personally find markdown a lot easier to write in, but I think you and I are the only ones L O Z O R D

[2016-01-24 01:34] LOZORD commented on #16
I agree that Markdown is easier, but I think for the most part, we (I) only want this for link-embedding. HTML is also "easier" in that the average coord doesn't have to learn a new syntax. For now, I will close unless a majority want Markdown too.

[2016-01-24 01:34] #16 closed

[2016-01-24 01:35] LOZORD commented on #8
This will eventually be fixed (possibly through @zthomae 's #13)

[2016-01-24 01:35] #8 closed

[2016-01-24 01:36] #15 closed

[2016-01-25 23:58] mjneil opened #19 "Individual Event Pages"
Eventually I would like for the ability to have individual event pages for sharing and what not instead of sharing a link to our events page that just has a long list.

[2016-01-26 00:14] katamaritaco commented on #19
:+1:

[2016-01-26 00:17] #9 closed

[2016-01-26 04:54] LOZORD commented on #19
See #20

[2016-01-26 17:00] katamaritaco commented on #14
Sounds too complex for the system we want. People should upload their own photos :camera:

[2016-01-26 20:32] mjneil opened #21 "Featuring projects on the homepage"
How do we want to feature projects on the homepage. I am in the progress of making it so it just picks 3 random projects from the list of projects to put on the homepage. We could also make it something that we manually set in the json and update ourselves every now and then. Any other ideas?

[2016-01-26 21:10] katamaritaco commented on #21
I think we can/should only show one, as long as has nice description. I think it'd be great to use that as a showcase for our community, and cycle through the projects (and talks, writeups too) throughout time.

Lmk if what I said was confusing

Sent from Outlook Mobile<https://aka.ms/blhgte>

On Tue, Jan 26, 2016 at 12:33 PM -0800, "Matthew Neil" <notifications@github.com<mailto:notifications@git

[2016-01-26 21:23] LOZORD commented on #21
Why not set up some sort of [carousel](https://getbootstrap.com/examples/carousel/) type element?

[2016-01-26 21:25] melutzke commented on #21
a featured project could be cool, and could be rotated over time manually.

[2016-01-26 21:26] LOZORD commented on #21
@melutzke maybe add a `featured` flag to `projects.json`?

[2016-01-26 21:37] melutzke commented on #21
that might be a good idea. Bonus points if it's a more self documenting featured_on_homepage or featuredOnHomepage flag

[2016-01-26 22:29] mjneil commented on #21
@katamaritaco what you said is confusing

@LOZORD http://shouldiuseacarousel.com/ also writing carousels sucks so much, and what mitch said about easy manual

and ya the featured flag in projects.json was what I was thinking would be an easy solution to manual updates

[2016-01-26 22:36] katamaritaco commented on #21
Mitchell said exactly what I meant. So we're all good.

Sent from Outlook Mobile<https://aka.ms/blhgte>

On Tue, Jan 26, 2016 at 2:29 PM -0800, "Matthew Neil" <notifications@github.com<mailto:notifications@github.com>> wrote:

@katamaritaco<https://github.com/katamaritaco> what you said is confusing

@LOZORD<https://github.com/LOZORD> http://shouldiuseacarousel.com/ also writing carousels sucks so

[2016-01-27 04:14] #19 closed

[2016-01-27 05:08] LOZORD opened #23 "Auto-crop coord images to perfect circle"
Because :sunglasses:

http://sixrevisions.com/css/circular-images-css/

[2016-01-27 05:40] mjneil commented on #23
1. This still requires the assumption that the "subject" is in a certain position. So it still requires manual work from each person to make sure their photo wont auto crop to showing their crotch or something. At that point, might as well just upload a square image.

2. KISS

[2016-01-27 05:46] LOZORD commented on #23
I'm fine with simplicity, just if people care about the oblong photos.

[2016-01-27 21:15] lwdinh opened #25 "Event pictures don't actually do anything."
Maybe take them out or incorporate them into the specific event page.

[2016-01-27 22:03] mjneil commented on #25
I commented it out of the html for now as I didn't have any concrete design ideas for them. We can and will definitely incorporate into the specific event page. Doesn't hurt anything to have them in the json for now without using it in the html

[2016-01-28 03:12] lwdinh commented on #21
I know we are the Undergraduate *Projects* Lab, but maybe there is something more useful we could put on the home page? Just thought to bring this up before we commit to putting it on. The homepage projects on the current site isn't even used.

What if we added a chat feed into the site?

[2016-01-28 03:52] mjneil commented on #21
Just because we feature one or more projects on the homepage does not mean we cannot have anything else on the homepage. Showing off some projects on the homepage is important I think. It's not really used right now because no one updates the current site for multiple reasons, probably the biggest being how much of a mess it is.

So having more things on the homepage is definitely something we can

[2016-01-28 05:16] melutzke commented on #21
if we could embed the UPL fb group on the page so people could see the latest postings, I think that would be pretty cool, and helpful to directing them to the group.

[2016-01-28 06:13] lwdinh commented on #25
Sweet. I'm going to just make it so that if there is a picture, it ends up on the event page. Speaking of the event page though, eventually it would be a good idea to add an extra json field for both "description" and "more info." There's little point in the event pages having their own pages as it is.

Additionally, for future reference before I forget, the horizontal lines are inconsistent in wi

[2016-01-28 06:16] lwdinh commented on #25
Also, I haven't done it yet, but it would also be good for the picture size to be limited in width and height. Do you know a good way of cropping pictures (or at least limiting width/height?)

[2016-01-28 06:20] lwdinh commented on #25
And the horizontal divider at the bottom should have a minimum distance from the footer so it doesn't look bad.

[2016-01-28 21:57] LOZORD opened #27 "Remove policy-related strings from About page"
We have the [Documentation](https://github.com/UW-UPL/Documentation) repo for a lot of this stuff.

Basically, what cruft can we remove from the About page?

[2016-01-28 23:01] lwdinh commented on #27
I think it's mostly alright. Some things might be out of date, like sending mail.
One particular change might be to remove the "Disk Space" question, as it doesn't seem very important compared to the other stuff.

What changes did you have in mind?

[2016-01-28 23:02] lwdinh commented on #27
Linking the library directly might be good.

[2016-01-28 23:03] lwdinh commented on #27
Switching the order of some of the questions also might be good.

[2016-01-28 23:45] lwdinh commented on #27
The recent change to minimize questions also got rid of all the links on the page.

[2016-01-28 23:47] mjneil commented on #27
@zthomae

[2016-01-28 23:49] zthomae commented on #27
Derp

[2016-01-29 21:03] katamaritaco commented on #14
KISS

[2016-01-29 21:03] #14 closed

[2016-01-29 21:05] katamaritaco commented on #2
SASS Stuff in https://github.com/UW-UPL/uw-upl.github.io/tree/master/styles for now

[2016-01-29 21:05] #2 closed

[2016-01-29 21:05] katamaritaco commented on #23
KISS L O Z O R D

[2016-01-29 21:05] #23 closed

[2016-01-29 21:25] katamaritaco opened #30 "Why the 'id' field on json for coords?"
We never use those cs names in the page, and seems odd to put them there in general, doesn't it?

[2016-01-29 21:26] katamaritaco opened #31 "Add 'website' field for the json :alien:"
It'd be nice to have a custom 'website' alongside a github account on the coords page. This could be a facebook page, personal website, twitter profile, whatever. Would just be nice if somebody would like to contact somebody.

:guitar:

[2016-01-29 21:36] mjneil commented on #30
Originally I was generating cs.wisc.edu emails from them but have been removed due to spam.

Also an enhancement I plan on adding but haven't yet, is to use the Coord id in the hours.json to index into the Coors list and get the full coord object on hours page to possibly add things like coord info for current coord holding office hours, etc.

[2016-01-29 21:36] mjneil commented on #31
Go for it

[2016-01-29 21:38] katamaritaco commented on #30
Alright, that's fair. I'm still going to keep mine as is, and then _that one_ can link to hours, etc/

[2016-01-29 21:38] #30 closed

[2016-01-29 21:38] katamaritaco commented on #31
I WASNT ASKING PERMISSION

[2016-01-29 21:39] mjneil commented on #31
Was giving support, not granting permission

[2016-01-29 21:47] katamaritaco commented on #31
:heart: u mat

[2016-01-29 21:47] #31 closed

[2016-01-29 21:52] katamaritaco opened #32 "Emoji support on website"
does work?

[2016-01-29 22:02] katamaritaco opened #33 "About Page Overhaul"
Similar to #27 but more focused as a place for about overhauling in general.

[2016-01-29 22:03] katamaritaco commented on #27
Think it all mostly needs overhaul. See #33

[2016-01-29 22:03] #27 closed

[2016-01-29 22:05] katamaritaco commented on #21
Would definitely love to have a section for upcoming events. People are always asking about that. Would be great to have the next coming event/talk on there as well.

[2016-01-29 23:02] katamaritaco opened #35 "Yusef Needs to Add Profile"
@Squeakrats dis 4 u

[2016-01-29 23:03] katamaritaco opened #36 "John Needs to Add Profile"
@johnrox5231 dis 4 u

[2016-01-29 23:03] katamaritaco opened #37 "Ben Needs to Add Profile"
@bhans117 dis 4 u

[2016-01-29 23:05] Squeakrats commented on #35
http://uw-upl.github.io/#/hours

[2016-01-29 23:11] katamaritaco commented on #35
Oh :shit:, sorry. Meant profile lol

http://uw-upl.github.io/#/coords

[2016-01-29 23:12] katamaritaco commented on #36
http://uw-upl.github.io/#/coords

[2016-01-29 23:12] katamaritaco commented on #37
http://uw-upl.github.io/#/coords

[2016-01-29 23:12] katamaritaco opened #38 "John Needs to Add Hours"
@johnrox5231 add hours plz

[2016-01-29 23:14] johnrox5231 commented on #38
Done! =P

[2016-01-29 23:14] #38 closed

[2016-01-29 23:15] johnrox5231 commented on #36
Also done! =P

[2016-01-29 23:15] #36 closed

[2016-01-29 23:28] katamaritaco opened #39 "Sean Needs to add Profile"

[2016-01-29 23:28] katamaritaco commented on #39
@spwilson2

[2016-01-30 02:40] spwilson2 commented on #39
DONE this issue is :skull:

[2016-01-30 06:02] LOZORD commented on #32
Does [this](http://afeld.github.io/emoji-css/) work for you?

[2016-01-30 06:12] katamaritaco commented on #32
Up to @mneil

Sent from Outlook Mobile<https://aka.ms/blhgte>

On Fri, Jan 29, 2016 at 10:02 PM -0800, "Leo Rudberg" <notifications@github.com<mailto:notifications@github.com>> wrote:

Does this<http://afeld.github.io/emoji-css/> work for you?

-
Reply to this email directly or view it on GitHub<https://github.com/UW-UPL/uw-upl.github.io/issues/32#issuecomment-177080435>.

[2016-01-31 22:31] mjneil commented on #39
When @spwilson2 doesn't add an image with square dimensions

[2016-01-31 22:36] katamaritaco commented on #39
Maybe he likes :egg:s

[2016-01-31 22:55] spwilson2 commented on #39
I acutally like it that way :8ball:

[2016-01-31 23:14] #39 closed

[2016-02-01 02:28] melutzke opened #40 "Establish milestones and priorities for release"
This might help emphasize which features are important for the new site to go live.

[2016-02-01 04:51] LOZORD commented on #40
I think all info should be present (i.e. #35 and #37 ) at a minimum

@Squeakrats @bhans117

[2016-02-01 05:30] katamaritaco commented on #40
Yeah I think that is it as well for release.

[2016-02-01 05:33] Squeakrats commented on #40
I'll add my profile tomorrow

[2016-02-01 05:35] katamaritaco commented on #40
:+1: :mouse2:

[2016-02-01 17:26] LOZORD commented on #35
This looks done to me :question:

[2016-02-01 17:27] #35 closed

[2016-02-02 18:03] LOZORD opened #41 "Report Up/Down Status of UPL/CSL"

[2016-02-02 22:39] LOZORD opened #42 "Update GitHub image with new logo"
@mjneil whichever one you think is most appropriate.

[2016-02-02 22:41] LOZORD commented on #37
@bhans117 thanks for taking care of this. Can we close this issue now?

[2016-02-02 22:45] mjneil commented on #42
its tooooo wide, what do?
![image](https://cloud.githubusercontent.com/assets/2829052/12767026/5a9faa10-c9cc-11e5-8160-b9e2c4d09b27.png)

[2016-02-02 23:44] Squeakrats commented on #41
obviously it's not aesthetic but I made a  labstatus branch. if someone wants to css that would be cool

[2016-02-02 23:47] LOZORD commented on #42
@MikeCook9994 do you want to Photoshop it?

[2016-02-02 23:50] mjneil commented on #42
I can use photoshop, was just wondering how you want to alter it. The above screenshot is actually a scaled down version of the logo, but apparently when you scale it down, it just makes the "crop" region smaller too..

[2016-02-02 23:50] katamaritaco commented on #42
Might not be right place for it, but we need those files for logo etc saved and accessible somewhere

Get Outlook for Android<http://aka.ms/ghei36>

On Tue, Feb 2, 2016 at 3:47 PM -0800, "Leo Rudberg" <notifications@github.com<mailto:notifications@github.com>> wrote:

@MikeCook9994<https://github.com/MikeCook9994> do you want to Photoshop it?

-
Reply to this email directly or view it on GitHub<ht

[2016-02-02 23:51] mjneil commented on #42
@katamaritaco what do you mean? They are in the repo

[2016-02-02 23:53] katamaritaco commented on #42
I mean for general use but didn't look since I'm on my phone

Get Outlook for Android<http://aka.ms/ghei36>

On Tue, Feb 2, 2016 at 3:51 PM -0800, "Matthew Neil" <notifications@github.com<mailto:notifications@github.com>> wrote:

@katamaritaco<https://github.com/katamaritaco> what do you mean? They are in the repo

-
Reply to this email directly or view it on GitHub<https://github.com/UW-UPL/uw-up

[2016-02-03 20:08] katamaritaco commented on #37
Yup!

[2016-02-03 20:08] #37 closed

[2016-02-04 22:23] mjneil commented on #41
I css'd it. Closing for now.

[2016-02-04 22:23] #41 closed

[2016-02-04 23:32] katamaritaco opened #45 "Redirect upl.cs.wisc.edu to uw-upl.github.io"
Make the redirect to the new website

[2016-02-04 23:33] katamaritaco opened #46 "Throw old website in general archive repo"
I've brought up the need for a private 'archival' repo before. Would this be good to store? Only reaons I put this uissue in this repo is because if it should be done, it should happen after the redirect is set up.

[2016-02-04 23:35] katamaritaco opened #47 "Webcam Slider on new site"
It isn't yet on new one, but still on old one.

[2016-02-06 03:07] Squeakrats commented on #47
I can do this. I am merging the camera script with upl lab status anyway.

[2016-02-06 03:07] Squeakrats commented on #47
although in my quick look I didn't even notice controls in the script so shrug

[2016-02-06 06:38] katamaritaco opened #48 "Coords page takes a while to load"
Probably because Leon and Marshale's pictures are huge. Compressing images should help. Not too hard of a task.

[2016-02-08 02:14] #47 closed

[2016-02-08 05:02] katamaritaco commented on #48
Closed with recent commit

[2016-02-08 05:02] #48 closed

[2016-02-08 05:23] katamaritaco opened #50 "Riccardo Needs To Add Picture"
plz

[2016-02-08 06:54] lwdinh opened #51 "Link to slack"
Link to https://uw-upl.slack.com/

[2016-02-08 06:55] lwdinh commented on #46
I think it would be. There is value in preserving the old website for the future coords + for reference.

[2016-02-08 07:05] lwdinh opened #52 "Lab Status is broken"
title

[2016-02-08 07:29] Squeakrats commented on #52
It goes down every time the servers go down. I also can't restart it properly as I'm not sudo

[2016-02-08 16:10] LOZORD commented on #52
Maybe give a link to the coords email?

[2016-02-08 17:58] LOZORD opened #53 "Grey out/remove webcam slider if non-responsive"
I assume this is related to certain parts of the lab being down.

[2016-02-08 18:56] LOZORD commented on #46
Probably just creating a zip file or tarball and saving it to a repo would be good.

[2016-02-08 18:58] LOZORD commented on #17
@mjneil I can take care of this if you want. I was just thinking about adding a `calName` or `nickname` field to the coord JSON.

[2016-02-08 19:01] LOZORD commented on #40
@mjneil are we ready to launch soon?

[2016-02-08 19:02] LOZORD commented on #33
I think this can be decided post-release if we still want to fix it.

[2016-02-08 19:39] katamaritaco commented on #33
Agree :+1:

[2016-02-08 19:39] katamaritaco commented on #50
Thanks @Ricky54326

[2016-02-08 19:44] #50 closed

[2016-02-08 19:53] katamaritaco commented on #32
@mjneil important or cruft-n-close? :gun:

[2016-02-08 20:13] lwdinh commented on #53
It's due to the script not being run by sudo user. Yusef says that ideally it would never be down.

[2016-02-08 20:36] lwdinh commented on #51
Besides creating a new account, what else would need to be done to allow users to join slack?

[2016-02-08 21:44] LOZORD commented on #32
Nice terminology :laughing:

[2016-02-08 21:45] LOZORD commented on #51
Maybe making sure they have a UPL account or are a UW student or are part of the Facebook group?

[2016-02-08 21:48] LOZORD commented on #53
So is this a bug? :scream:

[2016-02-08 22:13] Squeakrats commented on #53
It's not really a bug. It's eris being shut off and me not being able to reboot it/wanting to bother John. I'll have John make a keepalive script (or I will if I'm admin)

[2016-02-08 22:18] katamaritaco commented on #51
:+1: to having a UPL account

[2016-02-09 00:02] LOZORD commented on #21
See related PR #54

[2016-02-09 01:16] LOZORD commented on #51
Do we want software or wetware to check this condition?

[2016-02-09 01:54] mjneil commented on #32
If you guys want it, its as easy as adding in `<link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">` to index.html

I think it is cruft, but its also minimal cruft that requires no more work than what I stated above, which makes it ok if it's desired.

[2016-02-09 16:59] LOZORD opened #55 "Remove `console.log`s"
I've heard that this is a Good Practice :tm: for when we launch the site.

[2016-02-09 17:40] katamaritaco commented on #55
Can we wrap them in some sort of #ifdebug? Not sure how W E B handles it

[2016-02-09 18:01] LOZORD commented on #55
Yeah, we could basically monkeypatch it to an `noop` based on the current URL, i.e. _not_ `localhost`.

[2016-02-10 00:49] katamaritaco commented on #55
Merged
:sweat_drops: :sweat_drops: :eggplant: :facepunch: :muscle:

[2016-02-10 00:49] #55 closed

[2016-02-10 00:51] katamaritaco commented on #21
@mjneil

[2016-02-10 01:00] #32 closed

[2016-02-10 01:00] katamaritaco commented on #42
Done
:sweat_drops: :sweat_drops: :eggplant: :facepunch: :muscle:

[2016-02-10 01:00] #42 closed

[2016-02-10 01:02] mjneil commented on #17
I can take care of it. I had plans to overhaul the coord json a bit so its an object with coord names as the keys for indexing in

[2016-02-10 01:07] mjneil commented on #52
Can we close this?

[2016-02-10 01:08] katamaritaco commented on #52
Leo wanted it to be so like, if all amchines are down, display messag telling to email coords or whatever. idk if that is what is going to happen or a different issue or what. idk. idk. idk.

:sweat_drops: :sweat_drops: :eggplant: :facepunch: :muscle:
:sweat_drops: :sweat_drops: :eggplant: :facepunch: :muscle::sweat_drops: :sweat_drops: :eggplant: :facepunch: :muscle::sweat_drops: :sweat_drops: :e

[2016-02-10 01:21] mjneil commented on #52
Done

[2016-02-10 01:21] #52 closed

[2016-02-10 01:25] katamaritaco commented on #46
https://github.com/UW-UPL/Archives/issues/1

[2016-02-10 01:25] #46 closed

[2016-02-10 01:34] katamaritaco opened #58 "Can we delete some unused logos?"
I backed everything up here: https://github.com/UW-UPL/Media/

We should use that repo in the future for all upl related media

[2016-02-10 01:37] mjneil commented on #58
go for it

[2016-02-10 01:38] katamaritaco commented on #58
I'm just going to delete them all and fuck everything up

[2016-02-10 01:41] mjneil commented on #58
I mean, dont delete the ones being used

[2016-02-10 01:41] katamaritaco commented on #58
That is why I'm not doing it

[2016-02-10 01:43] mjneil commented on #58
done

[2016-02-10 01:43] #58 closed

[2016-02-10 01:47] katamaritaco commented on #58
tybb <3 u

[2016-02-10 02:23] #21 closed

[2016-02-10 04:33] LOZORD commented on #42
Thank 😻🕴🎷🐸

On Tuesday, February 9, 2016, Nick Heindl <notifications@github.com> wrote:

[2016-02-10 23:48] katamaritaco opened #59 "Set up automated testing script"

[2016-02-11 04:25] LOZORD commented on #59
Kruft or Keep :question: :confused: :question:

[2016-02-11 17:35] Ricky54326 opened #60 "Decouple Lab Status script from the lab itself"
If the lab goes down, right now, the service status and webcam would go down too. Is there anything we can do about this?

[2016-02-11 17:48] Ricky54326 opened #61 "Add lab status script in here"
Add lab status script in here

[2016-02-11 17:50] #45 closed

[2016-02-11 17:51] #33 closed

[2016-02-11 17:51] #40 closed

[2016-02-11 17:52] MikeCook9994 opened #62 "Document the website and comment the code"
Because we should.

[2016-02-11 17:53] mjneil commented on #60
Well, can something be done? Sure a lot of things. What is it that you are looking for? Right now if the lab is down, we just put an error message on the Lab page and tell the user to email the coords list

[2016-02-11 18:01] katamaritaco commented on #60
Yeah I'm confused to. Do you mean that you want the up/down on the lab to be hosted externally to the upl on a more 'reliable' server somewhere?

[2016-02-11 18:05] Squeakrats commented on #60
Yea aside from spinning up an external server can't really do much

[2016-02-11 18:06] katamaritaco opened #63 "Contact CSL to see if they can add a CNAME or A record to point to github servers"
From @mjneil :
ricky said we have to contact csl
to see if they can add a CNAME or A record
to point to github servers

[2016-02-11 18:14] Ricky54326 commented on #63
just reached out to CSL about this, hope we hear back soon.

________________________________
From: Nick Heindl <notifications@github.com>
Sent: Thursday, February 11, 2016 12:06 PM
To: UW-UPL/uw-upl.github.io
Cc: Riccardo Mutschlechner
Subject: [uw-upl.github.io] Contact CSL to see if they can add a CNAME or A record to point to github servers (#63)

From @mjneil<https://github.com/mjneil> :
rick

[2016-02-11 18:15] Ricky54326 commented on #60
Two options I can think of immediately:

1) Set up a Heroku dynamo/whatever it's called (I can help/set this up if need be) for the server status, but at that point we may as well use a library or something maybe?

2) Like @mjneil  said, possibly just say that the lab is down if we aren't able to get an accurate lab status.

[2016-02-11 18:16] katamaritaco commented on #60
I think your 2) is already implemented @Ricky54326

[2016-02-11 18:17] Ricky54326 commented on #60
Let's just close this for now then. It's fine as-is. Someone can re-open if it becomes an issue.

[2016-02-11 18:17] #60 closed

[2016-02-11 18:19] Ricky54326 commented on #62
At the very least, a tl;dr guide with:

1) What to do to add a new page/view, not everyone knows how to do this, esp with angular
2) Where are all the config files, particularly for lab status ( see #61 )

[2016-02-11 18:23] LOZORD commented on #62
I think having an md file about the pattern that Matt's been using (factories with `.populate`) would be very helpful for people in the future.

[2016-02-11 19:16] Ricky54326 commented on #63
from CSL:

"The primary name server (master) for upl.cs.wisc.edu (the entire zone) is a UPL computer: 128.105.45.102

We get the zone data from your server, and are a secondary authoritative nameserver for the zone.

If you make the change in your nameserver, it will propogate to the internet.

 --david"

So, I guess we can indeed make the changes in our own DNS server. I'll do this within the nex

[2016-02-11 19:23] katamaritaco commented on #63
Thanks.

wen davi partur iz lik "bt u guise handl it ya dingalus"

________________________________
From: Ricky Mutschlechner <notifications@github.com>
Sent: Thursday, February 11, 2016 1:16 PM
To: UW-UPL/uw-upl.github.io
Cc: Nicholas Heindl
Subject: Re: [uw-upl.github.io] Contact CSL to see if they can add a CNAME or A record to point to github servers (#63)

from CSL:

"The primary name server

[2016-02-11 21:48] mjneil commented on #59
I'm going to assume cruft since this is referring to something that isnt possible. Closing for now

[2016-02-11 21:48] #59 closed

[2016-02-14 23:09] katamaritaco commented on #51
Honestly, I guess ti doesn't REALLY matter for the time being.Might be a nice enhancement though?

[2016-02-15 17:31] LOZORD opened #64 "Add Randy's photo"
Remember that it needs to be square and relatively small (for load speed).

[2016-02-20 01:18] katamaritaco opened #65 "'Wave' button on webcam"
Might be ncie to have a 'wave' button that automatically 'waves' the webcam at people. put a 5 second timeout on it or soemthing.

[2016-02-20 01:21] katamaritaco opened #66 "Figure out way to hook up webcam to get position"
This way, the slider won't always start in middle. It should start where webcam is already tilted at.

[2016-02-20 01:25] Squeakrats commented on #65
Yes this doable

[2016-02-20 01:27] Squeakrats commented on #66
I've never touched arudinoy stuff but from webserver side this is easy

[2016-02-20 08:45] LOZORD commented on #65
Maybe have some LED blink or have some sort of chime sound?

On Fri, Feb 19, 2016 at 7:25 PM, Squeakrats <notifications@github.com>
wrote:

[2016-02-22 18:17] LOZORD opened #67 "Add "current OH" banner"

[2016-02-23 06:58] LOZORD commented on #64
:point_right: bump

[2016-02-23 06:58] LOZORD commented on #62
@MikeCook9994 adding tests is a great way to document :+1: :grinning: :+1:

[2016-02-23 16:34] LOZORD commented on #61
:camel: bump

[2016-02-23 16:34] LOZORD commented on #51
@katamaritaco @lwdinh Cruft or keep?

[2016-02-23 16:35] LOZORD commented on #53
@Squeakrats @jdetter any updates? :camel:

[2016-02-23 16:36] Squeakrats commented on #61
Oop. Will do today

[2016-02-23 16:44] Squeakrats commented on #53
I don't think there is a need for this as if the slider doesn't work neither does the Camera

[2016-02-23 16:49] LOZORD commented on #53
Ok #crufted :-1: :skull:

[2016-02-23 16:49] #53 closed

[2016-02-23 18:34] #61 closed

[2016-02-23 18:38] katamaritaco commented on #64
randy plz

[2016-02-23 18:40] katamaritaco commented on #51
I think slack is cruft in general, so I'm bias

[2016-02-23 23:56] katamaritaco opened #68 "add image for upl games event"

[2016-02-24 00:49] LOZORD commented on #68
See https://github.com/UW-UPL/Talks/issues/9

[2016-02-24 00:51] katamaritaco commented on #68
Waiting on stuff in Talks#9

[2016-02-24 03:46] katamaritaco opened #69 "Reason for linking events to gh page?"
Is there a reason the main event headers in the events page link to a special event page? Maybe we could instead use those headers to point to facebook events or whatnot?

[2016-02-24 04:19] LOZORD commented on #69
FYI, we have the ability to embed `<a>` links in the content section of the events. I'm fine either way though. One possible snafu is that if there _isn't_ an FB event, but we'd still like to list it on our site.

[2016-02-24 04:36] ranman166 commented on #64
I'll be able to add it this weekend I was going to take another pic for it.

[2016-02-24 05:40] katamaritaco commented on #69
Knowing about adding an href is nice. The thing I just think is cruft now is that when a user clicks the main event title header, it brings to a random single page that doesn't seem to be useful, you know what I mean?

[2016-02-24 05:57] LOZORD commented on #69
Do you think adding an __optional__ `facebook` or `external_url` field to the `events` JSON might be useful?

[2016-02-24 07:03] katamaritaco commented on #69
Yeah.

Do you think the event header linking to random page is keep or cruft tho?

[2016-02-24 14:51] LOZORD commented on #69
I think it is good. For example if we want to link people to a specific
event.

On Wednesday, February 24, 2016, Nick Heindl <notifications@github.com>
wrote:

[2016-02-24 16:22] katamaritaco commented on #69
Ok. Other opinions. @mneil ?

Get Outlook for Android<http://aka.ms/ghei36>

On Wed, Feb 24, 2016 at 6:51 AM -0800, "Leo Rudberg" <notifications@github.com<mailto:notifications@github.com>> wrote:

I think it is good. For example if we want to link people to a specific
event.

On Wednesday, February 24, 2016, Nick Heindl <notifications@github.com>
wrote:

-
Reply to this email directly or view it

[2016-02-24 17:11] LOZORD commented on #68
Ah nice

B L O C K E D
L
O
C
K
E
D

[2016-02-25 18:59] LOZORD commented on #63
:camel:

[2016-02-25 19:01] LOZORD commented on #51
The Slack channel seems kind of :skull: I think the majority of our communication should/will take place over email and Facebook. Do we want to #cruft this?

[2016-02-25 19:02] LOZORD commented on #25
:camel: cruft or keep?

[2016-02-25 19:15] katamaritaco commented on #51
I'm cool with that. I'd also be cool with ditching the slack channel in general (or moving to all private channels that are only active for events)

[2016-02-25 21:35] LOZORD commented on #51
:-1: meaning :skull:

[2016-02-25 22:52] #51 closed

[2016-02-25 23:36] #67 closed

[2016-02-28 21:44] ranman166 commented on #64
My friend couldn't take the photo this weekend, so i'll just put up a placer holder (still a photo of me) tomorrow.

[2016-02-29 00:48] melutzke commented on #64
bampersand

[2016-02-29 16:27] Squeakrats opened #71 "Webcam mobile support"
there is a way to stream video via web sockets (that apparently is actually pretty good)
This would allow us to stream to any browser that supports a canvas (specifically mobile)

[2016-03-01 19:50] zthomae opened #72 "Use a real calendar on the hours page"
Even though the page says that office hours are in 50 minute blocks, this isn't visually conveyed in the table. Explicitly showing scheduled and unscheduled time in blocks, like a calendar app might do, would fix this.

Does this bother anybody else?

[2016-03-01 20:32] mjneil commented on #72
An actual calendar sounds extremely crufty to me. We only have hours on weekdays during class times. There would be even more blank space in a calendar app which would probably look worse. I don't think there is any issue with how the time blocks are visually conveyed in the table. Especially since we use the same time blocks as UW's class schedule, which after a week or two of classes, everyone o

[2016-03-01 20:53] LOZORD commented on #72
I've looked at calendar libraries myself, and they all look crufty or
difficult to include. I'm fine with the current `<table>`-based style.
Maybe there's a way to format it to make it more user-friendly, but still
keep the same structure?

On Tue, Mar 1, 2016 at 2:32 PM, Matthew Neil <notifications@github.com>
wrote:

[2016-03-02 01:47] #64 closed

[2016-03-06 02:37] LOZORD commented on #69
:camel:

[2016-03-06 02:38] LOZORD opened #73 "Support for repeating events"
Is this a feature we would want?

[2016-03-06 02:42] LOZORD commented on #17
:camel:

[2016-03-06 17:09] katamaritaco commented on #69
whatever -> just close it (Y)

[2016-03-06 17:09] #69 closed

[2016-03-14 05:35] spwilson2 opened #74 "Add support for project Images and links with those images."
I tried adding an image to the projects page and it's not displaying. Are images not set up to display here?

[2016-03-14 05:57] mjneil commented on #74
No they are not supported yet. Never got around to adding them into the layout, definitely should be added though

[2016-03-14 16:17] LOZORD commented on #74
Would it just be a photo in the `content/projects` directory like `content/coords`? Or would we try to pull it from some sort of external source?

[2016-03-14 16:31] LOZORD opened #75 "Sort (first N) projects by latest commit"
We could use the GitHub API to sort projects by latest commit. A flaw might be if projects aren't hosted on GitHub. I'm fine closing this issue if people think it's cruft.

[2016-03-14 16:42] spwilson2 commented on #74
Also could we possibly add a clickable link attached to the image? Forr
instance, I'd like the riscv picture to go to their landing page.
On Mar 14, 2016 11:17 AM, "Leo Rudberg" <notifications@github.com> wrote:

[2016-03-14 17:03] mjneil commented on #75
I think this would be cool for which projects are featured on the home page, but probably would just be nice for alphabetical order or something on the actual projects page?

[2016-03-14 17:20] LOZORD opened #76 "Lab status page broken if used with https"
https://uw-upl.github.io/#/lab

Here's the error message:

[code]

So basically, do we want to add `https` to eris?

[2016-03-14 17:53] LOZORD commented on #68
So I have the images now (poster and FB banner). However, the image code is [commented out](https://github.com/UW-UPL/uw-upl.github.io/blob/master/views/events.html#L8). @mjneil do you mind if I bring it back in?

[2016-03-14 17:56] zthomae opened #77 "Expand ellipsis in show/hide directive has inconsistent styling behavior"
When you first load the page, the ellipses show up when hovering over the elements and disappear when you move the mouse away. I think this is the right behavior. But when you actually expand the element, the ellipsis is forced to hidden, and when you contract it the ellipsis is permanently displayed.

This means that, after expanding and contracting an element, the hover behavior is no longer fol

[2016-03-14 18:34] Squeakrats commented on #76
Uh the URL in code can prob just have an s added to it.

[2016-03-14 20:43] LOZORD commented on #76
@Squeakrats do you mind taking care of it?

[2016-03-14 20:45] Squeakrats commented on #76
I'll try

[2016-03-14 20:47] LOZORD commented on #75
I'm on it Soon™

[2016-03-14 22:44] LOZORD commented on #74
Making the description text parsed as HTML might also be an option. I did something similar for events.

[2016-03-15 15:07] LOZORD commented on #73
For now, I'll just support __weekly__ repeats.

[2016-03-15 23:41] LOZORD commented on #75
Helpful links:

https://developer.github.com/v3/git/refs/
http://stackoverflow.com/questions/15919635/on-github-api-what-is-the-best-way-to-get-the-last-commit-message-associated-w

[2016-03-27 05:28] LOZORD commented on #68
:camel:

[2016-03-27 21:58] mjneil commented on #68
Sure go for it. If you guys have some changes for the site that are ready to go and work and what not, feel free to merge it in.

[2016-03-30 16:26] LOZORD commented on #73
@mjneil is this something we would want?

[2016-03-31 20:51] mjneil opened #79 "Webcam doesn't work on safari"
If someone that uses a mac could debug and fix this, that's be super cool

[2016-03-31 20:57] LOZORD commented on #79
This might help diagnose: http://caniuse.com/#info_about

[2016-03-31 20:58] katamaritaco opened #80 "Lynx Support"
Can't get to any tabs on Lynx.

[2016-04-04 01:35] #77 closed

[2016-04-04 19:34] katamaritaco opened #81 "Show 'Current Events' if there are none"
If we don't have any events planned, would still be nice to show the 'upcoming events' header with default 'none scheduled yet, check back soon' message. Not having the header there just looks weird and confusing :camel:

[2016-04-12 15:32] LOZORD commented on #68
Are people ok with closing this?

[2016-04-12 15:33] LOZORD commented on #25
Can we close this now?

[2016-04-12 15:33] LOZORD commented on #72
@zthomae if you can find something that works nicely, feel free to reopen this issue.

[2016-04-12 15:33] #72 closed

[2016-04-12 15:34] LOZORD commented on #76
:camel:

[2016-04-12 15:35] LOZORD commented on #63
@Ricky54326 any update? Can we close?

[2016-04-12 16:16] Ricky54326 commented on #63
Yeah this is taken care of now. Our DNS propagates its changes to CSL automatically, so we just have to make changes ourselves and they get them every so often.

[2016-04-12 16:16] #63 closed

[2016-04-12 21:20] katamaritaco commented on #68
Yeah, event already happened.

[2016-04-12 21:20] #68 closed

[2016-05-20 21:27] katamaritaco commented on #80
Closing because ;-;

[2016-05-20 21:27] #80 closed

[2016-06-08 00:46] spwilson2 commented on #76
:camel:

[2016-06-08 00:49] spwilson2 commented on #25
:camel:

[2016-06-08 01:01] Squeakrats commented on #76
Oh yea I forgot about this. I believe the issue was that I needed to create an Https Cert? I probably should know this but does anyone know if thats how that works? Im pretty sure the issue was https pages cant do anything over http (which the webcam was) and to make the webcam https you need https certs.

[2016-06-08 01:08] Squeakrats commented on #76
* I also think adding it is more of a hassle than its worth. Adding https doesn't really get us anything.

[2016-06-08 01:11] Squeakrats commented on #76
Leo would you have a problem with just re-directing https to http?

[2016-06-08 01:31] spwilson2 commented on #76
Is there any way we could redirect to an https page that warns about going to unencrypted http beforehand? I reaally don't like the idea of redirecting from https to http

[2016-06-08 01:35] Squeakrats commented on #76
Probably.  But like what content do we have that would need to be over https?

[2016-06-08 01:37] spwilson2 commented on #76
It's mostly about the principle to me, if you really want we can discuss at coord meeting tho

[2016-06-08 01:40] Squeakrats commented on #76
suar

[2016-06-08 07:19] LOZORD commented on #76
Redirecting is a non-optimal solution. Up to you guys.

On Wednesday, June 8, 2016, Squeakrats <notifications@github.com> wrote:

[2016-06-08 20:37] LOZORD commented on #76
FYI: https://github.com/blog/2186-https-for-github-pages

On Wednesday, June 8, 2016, Leo Rudberg <ljrudberg@gmail.com> wrote:

[2016-06-08 20:58] spwilson2 commented on #76
As far as I know the problem isn't on the github side, but on the eris
side. Github HTTPS is working fine it's the trying to get lab status from
eris over HTTPS that's the issue. (I think)
On Jun 8, 2016 3:37 PM, "Leo Rudberg" <notifications@github.com> wrote:

[2016-06-08 21:15] Squeakrats commented on #76
Yup I believe so too.

[2016-06-22 04:38] LOZORD opened #83 "Link to History"
Should there be a link to the History repo on the site somewhere?

[2016-06-22 04:53] LOZORD commented on #79
Be sure to put in "dead text" like if an `<img>` doesn't show up.

https://developer.apple.com/library/safari/documentation/AudioVideo/Conceptual/Using_HTML5_Audio_Video/AudioandVideoTagBasics/AudioandVideoTagBasics.html

[2016-06-22 05:01] melutzke commented on #79
Second m'neils request, I tried super hard to get iOS and osx to be useful devices, but I failed. If it helps, look in to something called HLS for apple compat.

[2016-06-22 14:22] LOZORD commented on #79
Well here you go: Safari (and several others) [do not support the `webm` format](http://caniuse.com/#feat=webm). Unless we change the source (or provide an alternate) or do something crazy on the front-end, I think we're stuck.

[2016-06-22 14:29] LOZORD commented on #65
@ekivolowitz I'm assigning you because (1) you're around this summer (2) you've worked with hardware before (3) you are related to the person who would abuse this the most.

[2016-06-22 14:31] LOZORD commented on #71
See: https://developer.mozilla.org/en-US/docs/Web/HTML/Supported_media_formats

As with #79, we may need to change the video format to something more pedestrian like `mp4` or `aac`.

[2016-06-22 14:36] LOZORD commented on #66
@ekivolowitz or @Squeakrats, would either of you be up for taking care of this?

[2016-06-22 22:01] ekivolowitz commented on #65
Neat. I'll still have questions out the wazoo because I've never dealt with something like this.

[2016-06-22 22:01] #81 closed

[2016-06-23 19:15] #83 closed

[2016-06-23 20:10] LOZORD commented on #17
@mjneil do you still want to take care of this? Is it even necessary (given the layout of `#/coords`)?

[2016-06-24 02:43] #74 closed

[2016-07-25 03:39] #73 closed

[2016-08-20 20:47] LOZORD opened #88 "Switch to Jekyll"
This issue will track @zthomae's work on the `jekyll` branch. Please discuss below:

[2016-08-20 20:51] LOZORD commented on #88
I am in favor of the switch because of __reduced overhead__ (the templating language is easier for learning and maintenance than Angular).

[2016-08-20 20:54] zthomae commented on #88
Moving to Jekyll has already been agreed upon (see the slack #website channel logs). This issue is a suitable place for code review, but we will not relitigate the decision to move to jekyll here.

[2016-08-20 21:10] LOZORD commented on #88
Ah sorry! I though the Slack was toten 😀

[2016-08-20 21:11] #25 closed

[2016-08-20 21:11] LOZORD commented on #62
No longer relevant with upcoming move to Jekyll.

[2016-08-20 21:11] #62 closed

[2016-08-24 02:59] zthomae commented on #88
Done with the merge of #89

[2016-08-24 02:59] #88 closed

[2016-08-24 03:10] zthomae commented on #80
Fixed as of #89 :100: :ok_hand: :100:

[2016-08-24 05:03] LOZORD commented on #75
@zthomae do you want me to take care of this? Or do you have it?

[2016-08-24 13:22] zthomae commented on #75
Sure, you can handle it again. Make sure to file another pull request so @MikeCook9994 and I can review it.

[2016-08-26 16:44] LOZORD opened #90 "Use CDNs instead of lib?"
Instead of hosting the files in `js/lib` ourselves, would it make more sense to pull them via CDN?

[2016-08-26 22:41] LOZORD opened #91 "Add UW-UPL GitHub metadata"
This is not necessarily related to my work in #75, but [this gem](https://github.com/jekyll/github-metadata) is worth looking at.

[2016-08-27 04:45] LOZORD opened #92 "Kebab and escape all intra-site URLs"
See about slugify and others here: https://jekyllrb.com/docs/templates/

This could lead to potential problems (e.g. projects with spaces in the name).

Also not the behavior we want when emailing URLs, for example.

[2016-08-27 17:02] zthomae commented on #90
This is a good idea. I'm going to do this today.

[2016-08-27 17:06] zthomae opened #93 "Make project links work again"
Looks like the `proj-` prefix was accidentally still included. This should be removed.

Also see #92

[2016-08-27 17:11] zthomae commented on #91
We already have this.

[2016-08-27 17:11] #91 closed

[2016-08-27 17:13] melutzke commented on #90
Another cool option is to put cloudflare in front of the site, then you get CDN and ddos protection for free.

[2016-08-27 17:24] LOZORD commented on #91
Do you get a message about it when running Jekyll though?

[2016-08-27 17:25] LOZORD commented on #93
I can take care of this in #75 if you want.

[2016-08-27 17:30] LOZORD commented on #17
@zthomae, any interest in picking this up?

[2016-08-27 17:37] LOZORD commented on #92
Also, we should just grep all anchor tags. The `join us` link on the front page still uses the link style from the Angular version, for example.

[2016-08-27 18:39] LOZORD commented on #91
[code]

[2016-08-27 20:12] zthomae commented on #91
You only need to authenticate for certain features of the plugin. Since we don't use the gem at all right now, I'm not concerned about this.

[2016-08-27 20:23] zthomae opened #94 "Move upl-services to a different repo"
The website services are not a part of the site's source code and belong somewhere else.

[2016-08-27 20:27] zthomae commented on #93
Nah, I'll be doing this shortly.

[2016-08-28 02:12] #90 closed

[2016-08-28 02:12] #93 closed

[2016-08-28 05:17] LOZORD opened #101 "Fix alphabetic sorts"
It appears that Jekyll does not do a case-ignoring alphabetic sort. Is this worthwhile to change?

Basically, which is The Correct Order™?

[code]

[2016-08-28 14:05] zthomae commented on #101
I'm aware of this and agree that it's not ideal. I think the best solution is to wait for GitHub to upgrade the version of Jekyll they use so we can get [the upstream commit](https://github.com/Shopify/liquid/commit/03b3446119c83e5c89e3b7207042d1c1f6756917) that fixes this.

[2016-08-28 19:49] LOZORD commented on #101
Awesome 👍  I'll make my sorting case-ignorant.

[2016-08-28 19:49] #101 closed

[2016-08-28 20:21] LOZORD opened #102 "Add cool console welcome message"
I know I'm reversing my stance (see #55), but it might be cool to have a welcome message in the console for hackers :neckbeard: I think Mozilla used to do something like this 😎

[2016-08-28 23:56] zthomae commented on #102
Someone can do this if they want.

[2016-08-29 03:15] LOZORD commented on #102
Something any of the new coords or website-uninitiated want?

@ekivolowitz @ChristianBorst @mhorowitzgelb @simplywondrous @bhans117 @ranman166 ?

This would be a fun way to hack on the website 😄

[2016-08-29 04:08] #75 closed

[2016-08-29 08:57] jdetter commented on #94
which services?

[2016-08-29 15:34] LOZORD commented on #94
These ones: https://github.com/UW-UPL/uw-upl.github.io/tree/develop/upl-services

There may be others too. We might want to wait until `develop` is merged back into `master` though (?).

[2016-08-29 15:36] jdetter commented on #94
Which repo should this go in? UPL-Config?

[2016-08-29 17:28] LOZORD commented on #94
Yeah, I think so, since that is the code that will get deployed to the servers. See https://github.com/UW-UPL/UPL-Config/issues/58

[2016-08-31 14:24] MikeCook9994 commented on #102
Honestly....we might want to consider a scavenger hunt or something in the future. This might be fun to do on a bigger scale.

[2016-08-31 14:27] MikeCook9994 commented on #94
this is done on both repos. Closing. If we have a script that we use to deploy our services that will break and will have to be fixed.

[2016-08-31 14:36] #94 closed

[2016-09-01 03:01] MikeCook9994 commented on #92
Did @zthomae do this in one of his PRs?

[2016-09-01 03:42] zthomae commented on #92
The anchor tag is fixed, and the project links are escaped. I'm closing this because I don't think there's an issue left to fix.

[2016-09-01 03:42] #92 closed

[2016-09-06 07:24] jdetter opened #104 "About page formatting issue"
Under Printed Resources:

[code]

[2016-09-06 07:25] jdetter opened #105 "About page formatting issue 2"
The numbering under Account Policy are not incremented:

[code]

[2016-09-06 23:56] zthomae commented on #105
Dammit. Fixed on develop. Thanks for reporting this.

[2016-09-06 23:56] #105 closed

[2016-09-06 23:57] zthomae commented on #104
Fixed on develop. Thanks!

[2016-09-06 23:57] #104 closed

[2016-09-18 00:38] katamaritaco opened #107 "Consider Google Page Speed Guidelines"
I still can't access upl.cs.wisc.edu at home, but uwing uw-upl.github.io in Google's tool gives some nice results that are worth addressing.

https://developers.google.com/speed/pagespeed/insights/?url=https%3A%2F%2Fuw-upl.github.io%2F&tab=desktop

[2016-09-19 06:03] jdetter opened #108 "Webcam not working"
Moving this issue from the UPL-Config repository.

[2016-10-12 19:44] jdetter commented on #108
Fixed.

[2016-10-12 19:44] #108 closed

[2016-10-13 03:07] dlinning opened #110 "Issue with Siren webcam"
When the page is first loaded,
`Mixed Content: The page at 'https://uw-upl.github.io/#/' was loaded over HTTPS, but requested an insecure image 'http://siren.upl.cs.wisc.edu:1312/webcam-frame.jpg?0.3897509250254363'. This content should also be served over HTTPS.`
is displayed in the console.

Clicking the preview image to show the livestream results in similar messages being spammed in the consol

[2016-10-19 19:26] jdetter commented on #110
@Squeakrats do you wana take this one?

[2016-10-19 19:27] jdetter commented on #79
I think this was probably fixed by our latest webcam edits. I don't see why it wouldn't work on Safari with our new design.

[2016-10-19 19:31] Squeakrats commented on #110
Sure, Ricky got certs already I think.

[2016-10-21 03:20] LOZORD commented on #79
Doesn't work for my Safari

[code]

[2016-10-21 03:55] Squeakrats commented on #79
Yea that is part of another issue for getting certs for the cam computer

[2016-10-21 19:17] jdetter commented on #79
Does it actually not work on Safari or does it just print that message out?

[2016-10-21 19:19] jdetter commented on #65
I think we decided this is cruft, but I think Randy and Yusef are still working on the servo problem.

[2016-10-21 19:19] #65 closed

[2016-10-21 19:20] jdetter opened #111 "Webcam slider doesn't work"
This has been known for a while. The servo/slider on the website doesn't work.

[2016-10-21 19:20] Squeakrats commented on #79
Tested on jazz's phone it does not. I assume they  block it completely . (Where chrome just gives you a warning)

[2016-10-21 19:21] Squeakrats commented on #111
I will look at it with Randy when I'm done being sick.

[2016-10-22 01:41] LOZORD commented on #79
Yeah nothing even showed up. @Squeakrats , I'm pretty sure it's an iOS problem and not a browser problem in the context of phones. But yeah, Safari didn't work on my laptop.

[2016-10-22 21:15] Ricky54326 opened #112 "Adding "report" form for reporting lab status + user complaints + missing hours"
Embed a google form or something into the site that users can file complaints on, anonymously. Some people have complained before but are scared of retaliation which is understandable.

[2016-12-16 20:25] MikeCook9994 opened #114 "The download button on the web player starts a file download that seems to transfer forever."
I believe it starts a download of the stream itself but never actually terminates. Didn't investigate the issue fully though.

[2016-12-17 01:07] LOZORD commented on #114
Try turning off the controls?

On Fri, Dec 16, 2016 at 3:25 PM Michael Cook <notifications@github.com>
wrote:

[2016-12-18 21:01] MikeCook9994 commented on #114
This would be be good AFAIK. They currently have no function anyways on desktop. Would this impact mobile?

[2016-12-19 01:46] LOZORD commented on #114
Try it out ¯\_(ツ)_/¯

[2016-12-21 19:51] Ricky54326 commented on #79
Closing for now, re-open if we intend to fix at some point.

[2016-12-21 19:51] #79 closed

[2016-12-21 19:51] Ricky54326 commented on #76
Merging with #110 .

[2016-12-21 19:51] #76 closed

[2016-12-21 19:52] Ricky54326 commented on #110
Merging #76 here. Will try to look at this over the break.

[2016-12-21 19:53] Ricky54326 commented on #66
I think we already did this? Please re-open if not. Closing.

[2016-12-21 19:53] #66 closed

[2016-12-21 19:54] Ricky54326 commented on #71
Closing for now - we tried to do this, but iOS still doesn't and probably won't ever work unfortunately.

[2016-12-21 19:54] #71 closed

[2016-12-21 19:55] Ricky54326 commented on #112
🐫

[2016-12-21 19:57] Ricky54326 opened #115 "Add an "enable" flag or similar for showing hours on the main page"
Might be cruft, but as of right now, during the "off-times" such as finals week + breaks, it still shows hours on the page. Maybe add some sort of quick flag that just doesn't show any hours as happening at all on the main page during these times?

[2016-12-21 22:15] Squeakrats commented on #112
I'll do this over break

[2016-12-29 04:02] Squeakrats commented on #110
this was fixed with the webcam going back to webm

[2016-12-29 04:02] #110 closed

[2016-12-29 04:09] MikeCook9994 commented on #114
Is that what they're teaching you at Google University?

[2016-12-29 04:15] LOZORD commented on #114
Is that what they are teaching you at UW-Madison?
![justdoit](https://cloud.githubusercontent.com/assets/3687761/21536659/8765258a-cd53-11e6-969b-e316cb8dca4c.gif)

[2017-01-17 01:04] ekivolowitz opened #118 "Add Andrew as a Coord"
Go to _data folder and follow the format of the other coords for adding yourself to the site in the coords.yaml file. You can do this directly in the browser edit mode if you wish. I'm not sure where the list of emojis are.

[2017-01-17 01:05] ekivolowitz commented on #118
I am going to add Andrew as a Coord and assign this to him. It's assigned to me temporarily.

[2017-01-19 21:59] Andretti77 commented on #118
Added all the things.

[2017-01-19 21:59] #118 closed

[2017-09-12 02:29] Ricky54326 commented on #115
fixed in #121

[2017-09-12 02:29] #115 closed

[2017-09-12 02:33] #114 closed

[2017-11-01 14:34] Squeakrats commented on #112
This was done awhile ago but never closed. closing

[2017-11-01 14:34] #112 closed

[2018-07-17 18:29] ekivolowitz opened #124 "Remove old coords and add placeholders for new coords"

[2018-07-17 18:33] LOZORD commented on #102
Thanks my dude!
On Tue, Jul 17, 2018 at 2:26 PM Evan Kivolowitz <notifications@github.com>
wrote:

[2018-07-20 02:38] #102 closed

[2018-07-20 03:04] #124 closed

[2018-07-20 03:05] ekivolowitz commented on #17
@LOZORD What do you mean by this?

[2018-07-20 03:15] LOZORD commented on #17
Basically, make all of the names on the coord hours schedule link to the
respective coords "bio" on the Coords page.

On Thu, Jul 19, 2018 at 11:05 PM Evan Kivolowitz <notifications@github.com>
wrote:

[2018-07-20 03:36] ekivolowitz commented on #17
Oh... Ok.

[2018-09-08 05:49] ekivolowitz commented on #111
No interest in reviving this.

[2018-09-08 05:49] #111 closed

[2018-09-08 06:48] ekivolowitz commented on #107
Closing for now. If someone wants to do this, then reopen the issue.

[2018-09-08 06:48] #107 closed

[2018-10-02 17:12] chris-olszewski opened #128 "Computer Sciences Typo on homepage"
We say we're part of the `Computer Science dep...` instead of the proper `Computer Sciences dep...`

[2018-10-02 21:50] katamaritaco commented on #128
The hero we need

[2018-10-13 01:11] #128 closed

[2018-10-13 01:14] chris-olszewski opened #131 "Mailhide is deprecated"
The reCaptcha mailhide library we were using was [deprecated](https://github.com/google/recaptcha/issues/221) 🙃.

We should find a replacement

[2018-10-19 15:40] jessicamiyake commented on #131
would you prefer to use scr.im or this: https://github.com/hanshuo/mailhide2 ?

[2018-10-26 02:26] LOZORD opened #134 "Redirect from upl.cs.wisc.edu is broken (or slow)"
Back in _my_ day, we had `upl.cs.wisc.edu` redirect to `uw-upl.github.io`.

You probably have to talk to some of the admins in the CSL.

[2018-10-26 11:09] rosalindstengle commented on #134
WACM does have wacm.cs.wisc.edu, so no reason we can't

[2020-01-30 23:09] rosalindstengle opened #137 "email links broken"
bart's email on coord page
upl email on about page
both 404

[2020-09-17 14:58] IronnButterfly opened #141 "Update Ruby + Jekyll"

[2020-09-30 22:08] rosalindstengle opened #143 "square pictures only!!!"
update ci to force coord photos to have 1:1 ratio so we don't have any more wonky photos

[2021-05-24 23:04] #137 closed

[2021-10-01 21:45] #143 closed

[2022-02-06 22:21] #131 closed